{% extends "base.html" %}
{% block content %}

<div class="score-bar z-depth-1" >
    <div class="row">
        <div class="col s6 m5 center">
            <div class="{{ visitor_key }}"></div><div class="visitor_name">{{ visitor_name }}</div> <div class="visitor_score">{{ visitor_score }}</div>
        </div>
        <div class="col s6 m5 offset-m2 center">
            <div class="{{ home_key }}"></div><div class="home_name">{{ home_name }}</div> <div class="home_score">{{ home_score }}</div>
        </div>
    </div>
</div>

<div class="container full-height">
    <div class="mainBody">
        <ul id="chat-text" class="comments collection white z-depth-2">
            {% for comment in comment_list %}
            <li id="comment" class="collection-item" comment_id="{{comment.comment_id}}">
                <div class="row valign-wrapper">
                    <div class="col s1 unvoted" >
                        <div class="arrow up login-required" onclick="$(this).vote(r.config.vote_hash, null, event)" role="button" aria-label="upvote" tabindex="0" ></div>
                        <div class="arrow down login-required" onclick="$(this).vote(r.config.vote_hash, null, event)" role="button" aria-label="downvote" tabindex="0" ></div>
                    </div>
                    <div class="col s11">
                        <div class="flair-{{comment.author_flair_css_class}}"></div>
                        <div id="author"><a href="http://reddit.com/user/{{comment.author}}">{{comment.author}}</a></div>
                        <span class="secondary-content"><div id="time" created_utc="{{comment.created_utc}}"></div><div class="reply" id="{{comment.comment_id}}"><i class="fa fa-reply fa-sm"></i></div></span>
                        <div id="body">{{comment.body}}</div>
                    </div>
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>

<div class="messagebox full-width z-depth-1">
    <input type="text" name="comment" id="comment_input">
    <button class="submit btn waves-effect waves-light" type="submit" name="submit" value="submit">Submit
        <i class="mdi-content-send right"></i>
    </button>
    <div class="undo">
        <i class="fa fa-undo fa-sm"></i>
    </div>
    <div class="reply_context" id="">
      Make top level comment 
    </div>

    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
</div>

<script type="text/javascript" src="//code.jquery.com/jquery-1.4.2.min.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/0.9.16/socket.io.min.js"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/vendor/mmd.min.js') }}"></script>

<script type="text/javascript" charset="utf-8">
    
    var socket = io.connect('http://' + document.domain + ':' + location.port);
    socket.emit('join', {room: "{{thread_id}}"});
    
    function addComment(comment_id, author_flair_css_class, author, body, created_utc) {
        var comment = '<li id="comment" class="collection-item" comment_id="'+comment_id+'">'
                        +'<div class="row valign-wrapper">'
                        +'<div class="col s1 unvoted">'
                        +'<div class="arrow up login-required" onclick="$(this).vote(r.config.vote_hash, null, event)" role="button" aria-label="upvote" tabindex="0" ></div>'
                        +'<div class="arrow down login-required" onclick="$(this).vote(r.config.vote_hash, null, event)" role="button" aria-label="downvote" tabindex="0" ></div>'
                        +'</div>'
                        +'<div class="col s11">'
                        + '<div class="flair-'+author_flair_css_class+'"></div>'
                        + '<div id="author"><a href="http://reddit.com/user/'+author+'">'+author+'</a></div>'
                        + '<span class="secondary-content"><div id="time" created_utc="'+created_utc
                        +'">just now</div><div class="reply" id="'+comment_id+'"><i class="fa fa-reply fa-sm"></i></div></span>'
                        + '<div id="body">'+mmd(body)+'</div>'
                        +'</div></div>'
                        + '</li>';
        $('.comments').prepend(comment);
        }
    
    function updateScores(visitor, home) {
        $('.visitor_score').html(visitor);
        $('.home_score').html(home);
    }

    socket.on('echo', function(data){
        var received = JSON.parse(data);
        if (received.category == 'comment') {
            addComment(received.message.comment_id, received.message.author_flair_css_class, received.message.author, received.message.body, received.message.created_utc);
        } else if (received.category == 'score') {
            updateScores(received.message.sports_content.game.visitor.stats.points, received.message.sports_content.game.home.stats.points)
        }
    });
</script>

{% endblock %}