{% extends "base.html" %}
{% block content %}

<div class="score-bar z-depth-1" >

</div>

<div class="container full-height">
    <div class="mainBody">
        <ul id="chat-text" class="comments collection white z-depth-2">
        </ul>
    </div>
</div>

<div class="messagebox full-width z-depth-1">
    <form id="input-form" class="form-inline">
        <div class="form-group">
          <input id="input-handle" type="text" class="form-control" placeholder="Enter handle" autofocus />
        </div>
        <div class="form-group">
          <input id="input-text" type="text" class="form-control" placeholder="Enter chat text here!" autofocus />
        </div>
        <button class="btn btn-primary" type="submit">Send</button>
    </form>
</div>

<script type="text/javascript" src="//code.jquery.com/jquery-1.4.2.min.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/0.9.16/socket.io.min.js"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/vendor/mmd.min.js') }}"></script>

<script type="text/javascript" charset="utf-8">
    
    var socket = io.connect('http://' + document.domain + ':' + location.port);
    //the client has to emit something, otherwise the server doesn't acknowledge the connection!
    socket.emit('send_message', {message : 'connected'});
    socket.emit('join', {room: "room1"});
    
    function addComment(comment_id, author_flair_css_class, author, body, created_utc) {
        var comment = '<li id="comment" class="collection-item" comment_id="'+comment_id+'">'
                        +'<div class="row valign-wrapper">'
                        +'<div class="col s1 unvoted">'
                        +'<div class="arrow up login-required" onclick="$(this).vote(r.config.vote_hash, null, event)" role="button" aria-label="upvote" tabindex="0" ></div>'
                        +'<div class="arrow down login-required" onclick="$(this).vote(r.config.vote_hash, null, event)" role="button" aria-label="downvote" tabindex="0" ></div>'
                        +'</div>'
                        +'<div class="col s11">'
                        + '<div class="flair-'+author_flair_css_class+'"></div>'
                        + '<div id="author"><a href="http://reddit.com/user/'+author+'">'+author+'</a></div>'
                        + '<span class="secondary-content"><div id="time" created_utc="'+created_utc
                        +'">just now</div><div class="reply" id="'+comment_id+'"><i class="fa fa-reply fa-sm"></i></div></span>'
                        + '<div id="body">'+mmd(body)+'</div>'
                        +'</div></div>'
                        + '</li>';
        $('.comments').prepend(comment);
        }
    
    function updateScores(visitor, home) {
        $('.visitor_score').html(visitor);
        $('.home_score').html(home);
    }

    socket.on('echo', function(data){
        var received = JSON.parse(data);
        if (received.category == 'comment') {
            addComment(received.message.comment_id, received.message.author_flair_css_class, received.message.author, received.message.body, received.message.created_utc);
        } else if (received.category == 'score') {
            updateScores(received.message.sports_content.game.visitor.stats.points, received.message.sports_content.game.home.stats.points)
        }
    });
</script>

{% endblock %}