{% extends "base.html" %}

{% block content %}

<div id="home-wrapper">
  <div class="container">
    <div class="row">
      <div class="col s12 m8">
          {% for game in gameslist %} 
            {% if game.thread_id %}
              <div class="card z-depth-4"> 
            {% else %}
              <div class="card z-depth-4 inactive"> 
            {% endif %}
                <a href="/chat/{{game.thread_id}}"> 
                  <div class="card-content">
                    <div class="no-margin">
                      <div>
                        <!--<div class="game-status-{{game.game_status}}"></div>!-->
                        <div class ="thumb"><div class="{{game.visitor_key}}"></div></div><div class="team-name">{{game.visitor_name}}</div>
                        <div class="score">{{game.visitor_score}}</div>
                      </div>
                      <div>
                        <div class ="thumb"><div class="{{game.home_key}}"></div></div><div class="team-name">{{game.home_name}}</div>
                        <div class="score">{{game.home_score}}</div>
                      </div>
                      <div class="spacer" style="clear: both;"></div>
                      <div>
                        <div class="game_location">{{game.game_location}}</div>
                        <div class="period_value">{{game.period_value}}</div>
                      </div>
                    </div>
                  </div>
                </a>
              </div>
          {% endfor %}
      </div><!--col s12 m6!-->
      
      
      <div class="col s12 m4">

        <div class="card z-depth-2"> 
          <div class="card-content">
            <h5 class="center"> Top Commenters </h5>
            <table class="hoverable" id="top_users">
              <thead>
                <tr>
                    <th></th>
                    <th data-field="name">User</th>
                    <th data-field="name">Comments</th>
                </tr>
              </thead>

              <tbody>
                {% for user in top_users %}
                <tr>
                  <td><div class="flair-{{user.author_flair_css_class}}"></div></td>
                  <td>{{user.author}}</td>
                  <td>{{user.comments}}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div> <!--card z-depth-2!-->

        <div class="card z-depth-2"> 
          <div class="card-content">
            <h5 class="center"> Top Scorers </h5>
            <table class="hoverable" id="top_users">
              <thead>
                <tr>
                    <th></th>
                    <th data-field="name">Player</th>
                    <th data-field="name">Points</th>
                </tr>
              </thead>

              <tbody>
                {% for player in top_scorers %}
                <tr>
                  <td><div class="{{player.team_key}}"></div></td>
                  <td>{{player.first_name}} {{player.last_name}}</td>
                  <td>{{player.points}}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div> <!--card z-depth-2!-->

      </div> <!--col s12 m4!-->
    </div>
  </div>
</div>

{% endblock %}


